<div class="mx-auto max-w-4xl my-16 space-y-5">
    <p>
        La Asociación de mujeres de la Plataforma social en CELCCAR formada por mujeres cooperativistas a la cabeza de un directorio con miembro de cuatro personas: Presidenta, Tesorera, Actas y Vocal.
    </p>
    <p>
        La Asociación de muc7jeres tiene como objetivo: “Defender y representar los intereses sociales de las asociadas para lograr un desarrollo integral sin diferencia de raza, ideología política ni religión, de esta manera mejorar la calidad de vida de las asociadas en forma sostenible y viable” respaldado con una personería jurídica Nª 1368/2013
    </p>
    <p>
        En este contexto se viene trabajando con la representatividad de la mujer cooperativista en aspectos políticos, económicos y sociales, llevando a la par la incidencia en temas de liderazgo mediante las instancias matrices en el municipio de Caranavi
    </p>
</div>