<div class="mx-auto max-w-4xl my-16 space-y-5">
    <div>
        Vision
    </div>
    <p>
        La Central Local de Cooperativas Agropecuarias Caranavi R.L., promueve la producción agropecuaria agroecológica y la sostenibilidad económica, a través de la transformación, comercialización de productos con valor agregado y la prestación de servicios bajo el modelo cooperativo integral, con la renovación de liderazgos con enfoque de género – generacional, recursos humanos cualificados y alianzas estratégicas interinstitucionales, constituyéndose en referente del cooperativismo agropecuario a nivel nacional e internacional.  
    </p>
    <div>
        Mision
    </div>
    <p>
        Somos la Central Local de Cooperativas Agropecuarias Caranavi R.L. de 2° Nivel conformada por cooperativas de base legalmente constituidas y con infraestructura propia, que trabajamos para satisfacer las demandas y necesidades de nuestros asociados y asociadas, a través del desarrollo productivo económico y social amigable con el medioambiente, con equidad, pensando en las futuras generaciones y coordinando con instituciones privadas y públicas. 
    </p>
</div>