<main *ngIf="isBrowser">
    <div class="hero sticky bg-black h-72 md:h-80 lg:h-96" style="background-image: url('./assets/images/hero-3.jpg'); background-repeat: no-repeat;  background-size: cover;">
        <div class="hero-content">
          <!-- Title -->
          <div  class="pt-36 md:pt-44 lg:pt-56 pb-20">
            <h1  class="text-center text-4xl font-normal text-white">
                Nuestra razón de ser, las familias Cafeteras
            </h1>
          </div>
        </div>
      </div>
      <app-history></app-history>
      <app-vision></app-vision>
</main>
