<div class="hero sticky h-160"
    style="background-image: url('./assets/images/hero-6.jpg'); background-repeat: no-repeat;  background-size: cover;">
    <div class="hero-content flex flex-col justify-center items-center">
        <!-- Title -->
        <div class=" text-white space-y-5 flex flex-col justify-center items-center">
            <h1 class="text-center text-4xl font-normal">Buscando tu cafe favorito?</h1>
            <h2 class="text-center text-2xl font-normal">Compra online o descubre nuestros productos orgánicos</h2>
            <a routerLink="/products"
                class="uppercase w-fit mt-8 text-sm bg-transparent py-2 px-4 rounded-br-2xl font-semibold border border-white">Comprar
                aquí</a>
        </div>
    </div>
</div>