<div class="sticky top-0 left-0  w-full py-2 px-3 text-xs bg-background-light dark:bg-background-dark dark:text-zinc-200 z-50 border-b border-r border-l border-zinc-200 dark:border-zinc-800">
    <div class="flex justify-between items-center h-10">
        <div class="flex justify-between items-center space-x-5">
            <a routerLink="/">
                <span class="material-icons-outlined">arrow_back</span>
            </a>
            <div (click)="onScrollTop()"  class="flex flex-col items-center cursor-pointer uppercase text-lg">
                <span>Pagos</span>
            </div>
        </div>
    
    </div>
</div>
