<div class="grid grid-cols-1 md:grid-cols-2 gap-5 max-w-7xl my-10 mx-4 md:mx-auto">
    <div class="hero sticky h-96 rounded-tr-4xl rounded-bl-4xl p-4"
        style="background-image: url('./assets/images/courses-1.jpg'); background-repeat: no-repeat;  background-size: cover;">
        <div class="hero-content flex flex-col justify-center items-center">
            <!-- Title -->
            <div class=" text-white space-y-5 flex flex-col justify-center items-center">
                <div class="text-center text-4xl font-normal">Catacion</div>
                <div class="text-center text-xl font-normal">
                    Adquiere conocimiento y experiencia en catación de café y realiza tu certificación.
                </div>
                <a routerLink="/tasting"
                    class="uppercase w-fit mt-8 text-sm bg-transparent py-2 px-4 rounded-br-2xl font-semibold border border-white">Ver más</a>
            </div>
        </div>
    </div>

    <div class="hero sticky h-96 rounded-tr-4xl rounded-bl-4xl p-4"
        style="background-image: url('./assets/images/courses-2.jpg'); background-repeat: no-repeat;  background-size: cover;">
        <div class="hero-content flex flex-col justify-center items-center">
            <!-- Title -->
            <div class=" text-white space-y-5 flex flex-col justify-center items-center">
                <div class="text-center text-4xl font-normal">Barismo</div>
                <div class="text-center text-xl font-normal">Conviértete en un barista en nuestra escuela certificada, la cual cuenta equipos de la mejor tecnología.</div>
                <a routerLink="/barista"
                    class="uppercase w-fit mt-8 text-sm bg-transparent py-2 px-4 rounded-br-2xl font-semibold border border-white">Ver más</a>
            </div>
        </div>
    </div>
</div>